.wm-toc-li.wm-current,
.wm-toc-li.wm-current:hover {
  background-color: #b23c24 !important;
}

.navbar {
  background-color: #b23c24 !important;  /* Replace with your desired color */
  border: none !important;
  box-shadow: none !important;
}

@font-face {
  font-family: "Prima Serif Roman";
  src: url("../fonts/Prima_Serif_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body, html {
  font-family: "Prima Serif Roman" !important;
}

footer, .md-footer {
  display: none !important;
}
